# IDE
.idea
.vs
.vscode

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN

# OSX
.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

venv
test
secrets.py
config.py
.ropeproject
.tmp
output.txt

__pycache__
